<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" rel="external nofollow"  rel="external nofollow" >#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/static/style.css" rel="external nofollow"  rel="external nofollow"  rel="external nofollow" >
    <title>Login Success!</title>
</head>
<body>
    <div>
        {% if password is defined %}
        <h2>Register Success!</h2>
         <hr>
        <p> your username is:<span style="color: red">  {{ username }} </span></p>
        <p> your password is:<span style="color: red">  {{password }} </span></p>
        <p><font size="2" color="orange">Please take good care of your account password</font></p>
        <font size="3" color="purple">Now you can return to Cartoon Converter.</font>
        {% else %}
        <h2><span style="color: blue">{{ username }}</span>,Welcome Back!</h2>
            <hr>
             <font size="3" color="purple">Now you can return to Cartoon Converter.</font>
        {% endif %}
    </div>
</body>
</html>

