body{
    background: url('aa.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: auto;
}
#login-box{
    width: 30%;
    height: 20%; /* 这个失效了，设置登录框的高度的 */
    margin: auto; /* 这个是设置登录框的位置 */
    margin-top: 10%;
    text-align: center;
    background: #00000060; /* #00000060 是透明灰 */
    padding: 40px 15px;
}
#login-box h1{
    color: #fff;
}

#login-box .form .item input{
    margin-top: 15px;
}
#login-box .form i{
    font-size: 18px;
    color: #fff;
}
#login-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid#fff;
    padding: 5px 10px;
    background:#000;
    color: #fff;
}
#login-box button{
    margin-top: 15px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background:linear-gradient(to right,#f30909 0%,#4013e6e1 100%);
    border: 0;
    border-radius: 15px;
}